# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform/lambda_function.zip

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Lambda zips
*.zip

# Environment
.env
